.header {
    height:100px;
}


body {
    background-image: url("imagens/background.jpg");
    background-size: auto;
}
.imagem {
    border-radius: 200px 200px;
}
.rounded {
    color:#000000;
    border-radius: 100px 100px;
}
p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.media {
    background:white;
    border-radius: 50px 50px;
}
.divisor {
    background:#B22222;
    border-radius: 20px 20px;
}
